html {
  box-sizing: border-box;
  height: 100%;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  background-image: url("/images/background.jpg");
  background-size:cover;
  /* background-color: whitesmoke; */
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  height: 100%;
}

/* nav {
  background-color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
} */

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#waffle {
  background-color: rgba(184, 20, 151, 0.4) ;
  padding: 25px;
  z-index: 1;
}

h1 {
  font-size:2.6rem;
} 

.table {
  color: blueviolet;
}

.greet {
  color: whitesmoke;
  size: 100px;
}